# ignore objects
*.o

# ignore the object directory
obj/

# ignore all bin executables
bin/

# ignore all test executables
tests/

# ignore build dir
build/

# ignore all vim swap files
*.sw*

# ignore any .ignore files
*.ignore

# ignore any .cache
*.cache/

# ignore any run outputs
run/Run.*

# ignore cppChecks output
cppCheck.output

# ignore compile_commands.json
compile_commands.json
