# ignore objects
*.o

# ignore the object directory
obj/

# ignore all bin executables
bin/

# ignore all vim swap files
*.sw*

# ignore any .ignore files
*.ignore

# ignore any run outputs
run/Run.output

# ignore cppChecks output
cppCheck.output
